<h1>Edit Sleep Journal</h1>

<%= form_for @entry do |f| %>
  Night #: <%= f.number_field :night_number %>
  Bedtime: <%= f.time_field :bedtime %>
  Awake: <%= f.time_field :awake %>
  Asleep: <%= f.time_field :asleep %>
  Wake Up: <%= f.time_field :wake_up %>
  

  <%= f.submit "Update Journal" %>
<% end %>