<h1>Entries#new</h1>

<h1>Log Your Baby's Sleep Pattern!</h1>
<!-- f= form -->
<%= form_for [@baby, @entry], html:{class: "form-inline"} do |f| %>
  Night #: <%= f.number_field :night_number, class: "form-control" %>
  Bedtime: <%= f.time_field :bedtime %>
  Awake: <%= f.time_field :awake %>
  Asleep: <%= f.time_field :asleep %>
  Wake Up: <%= f.time_field :wake_up %>
  

  <%= f.submit "Log This Night", class: "btn btn-primary" %>
<% end %>
