<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>
<%= @entry %>
<table>
<tr>

	<td>Date: <%= entry.date %></td>
	<td>Bedtime: <%= entry.bedtime %></td>
	<td>Awake: <%= entry.awake %></td>
	<td>Asleep: <%= entry.asleep %></td>
	<td>Wake up: <%= entry.wake_up %></td>
</tr>
</table>