<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>
<% @entry.each do |e| %>
<table>
<tr>

	<td>Night #: <%= e.night_number %></td>
	<td>Bedtime: <%= e.bedtime %></td>
	<td>Awake: <%= e.awake %></td>
	<td>Asleep: <%= e.asleep %></td>
	<td>Wake up: <%= e.wake_up %></td>
</tr>
</table>
<% end %>
<%= link_to "Add New Night", new_entry_path %>
