<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>
<% baby.entry.each do |entry| %> 
<table class= "table table-striped">
	<thead>
		<tr>
			<th>Night #</th>
			<th>Bedtime</th>
			<th>Asleep</th>
			<th>Awake</th>
			<th>Wake Up</th>
		</tr>
	</thead>

			<td><%= entry.night_number %></td>
			<td><%= entry.bedtime %></td>
			<td><%= entry.awake %></td>
			<td><%= entry.asleep %></td>
			<td><%= entry.wake_up %></td>
	 	</tr>
	<% end %> 			  
</table>
<%= link_to "Add New Night", new_baby_entry_path %>
