<p>Babies#show</p>


<%= image_tag @baby.avatar.url(:medium) %>
I'm <%= @baby.name %> and I'm <%= @baby.age %> months old!


<%= @baby.name %>'s Sleep Journal
<table class= "table table-striped">
	<thead>
		<tr>
			<th>Night #</th>
			<th>Bedtime</th>
			<th>Asleep</th>
			<th>Awake</th>
			<th>Wake Up</th>
		</tr>
	</thead>
	<% @baby.entries.each do |entry| %>
		<tr>
			<td><%= entry.night_number %></td>
			<td><%= entry.bedtime %></td>
			<td><%= entry.awake %></td>
			<td><%= entry.asleep %></td>
			<td><%= entry.wake_up %></td>
			<td><%=  link_to "Edit Journal Info", edit_baby_entry_path(@baby, entry) %></td>
	 	</tr>
	<% end %> 			  
</table>

<%= link_to "Add New Night", new_baby_entry_path(@baby) %>



 
 