
<p>
Choose a baby: 
</p>
<br />
<% current_parent.babies.each do |baby| %>
	<img><%= link_to(image_tag(baby.avatar.url(:medium)), baby) %></img><br />
	I'm <%= baby.name %> and I'm <%= baby.age %> months old!<br />
	<%= link_to "Edit Baby Info", edit_baby_path(baby) %><br />
	<%= link_to "Add Another Baby", new_baby_path(current_parent) %><br />
<% end %>
<br />
<br />
<br />
<br />
<p>Parents#show</p>
<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%#= image_tag @user.avatar.url(:thumb) %>

<%#= link_to 'Edit Sleep Journal', edit_journal_path(@journal) %>
<%#= link_to 'Edit Baby Profile', edit_baby_path %>
