<h1>Parents#show</h1>
<p>
Hi, <%= current_parent.name %>!<br />
<br />
Choose a baby: 
<br />
<% current_parent.babies.each do |baby| %>
	<img><%= link_to(image_tag(baby.avatar.url(:medium)), baby) %></img>
	I'm <%= baby.name %> and I'm <%= baby.age %> months old! </td>
	<%= link_to "Edit Baby Info", edit_baby_path(baby) %>
<% end%>


<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%#= image_tag @user.avatar.url(:thumb) %>

<%#= link_to 'Edit Sleep Journal', edit_journal_path(@journal) %>
<%#= link_to 'Edit Baby Profile', edit_baby_path %>
