<nav class="navbar navbar-default">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">Sleep Trainer</a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li class="active"><%= link_to "Sign in", new_sessions_path %></li>
       <li><%= link_to "Babies", baby_path%></li> 
       <li><%= link_to "Sleep Tracker", entries_path %></li>
        <li><%= link_to 'Sign Out', new_sessions_path, method: :delete, data: {confirm: "Confirm"} %></li> 
        <%= session["parent_id"] %>  
       
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>